openapi: 3.2.0
info:
  title: Oto Data Stores API
  description: 'A Data API do Oto permite que você faça cargas de dados

    de forma segura e confiável, utilizando padrões REST e corpos das mensagens em

    formato JSON.


    Os registros são inseridos na modalidade _upsert_, isto é, caso um registro

    com a mesma chave primária exista na base de dados, ele será integralmente

    substituído pelo registro enviado. Caso contrário, um novo registro será

    criado na base de dados.


    # Limites


    Dois limites são aplicados em todos os endpoints desta API: requisições por

    minuto e quantidade máxima de registros por requisição.


    ## Limite de requisições


    Para garantir a estabilidade e segurança da plataforma, esta API aceita um

    número máximo de **200** requisições por minuto por IP de origem. As

    requisições que excederem este limite terão suas respostas atrasadas para que

    se mantenha o ritmo estipulado, até que eventualmente podem ser barradas com a

    resposta `HTTP/1.1 429 Too many requests`.


    ## Limite de registros por requisição


    São aceitos até **10.000** registros por requisição. Caso a propriedade `data`

    contenha um número superior de entradas, a requisição será recusada com a

    resposta `HTTP/1.1 413 Payload Too Large`.'
  version: 1.3.5
  x-logo:
    url: https://pmweblabs.s3.amazonaws.com/assets/oto-logo.png
    href: https://suporte.otocrm.com.br/
    altText: Oto. Quem conhece, vende.
servers:
- url: https://data-api.otocrm.com.br
  description: Production
- url: https://data-api-hmg.otocrm.com.br
  description: Test
- url: http://localhost:8000
  description: Test
tags:
- name: Stores
paths:
  /v1/stores:
    post:
      summary: Post Stores
      description: Criar ou editar lojas. Os registros são deduplicados pela coluna `id`.
      operationId: post_stores_v1_stores_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoresPostRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - Stores
components:
  schemas:
    StoresPostRequest:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Store'
          type: array
          title: Data
      type: object
      required:
      - data
      title: StoresPostRequest
    Store:
      properties:
        id:
          type: string
          title: Id
          description: Chave primária (código) da loja. São caracteres inválidos - pipe, vírgula e ponto e vírgula
        name:
          type: string
          title: Name
          description: Nome da loja
        name_oto:
          anyOf:
          - type: string
          - type: 'null'
          title: Name Oto
          description: Nome amigável da loja (visível no Oto)
        type:
          anyOf:
          - $ref: '#/components/schemas/StoreType'
          - type: 'null'
          description: 'Tipo de loja: E = E-commerce, L = Loja física'
        email:
          anyOf:
          - type: string
            format: email
          - type: 'null'
          title: Email
          description: E-mail principal da loja (para envio de senha)
        cluster:
          anyOf:
          - type: string
          - type: 'null'
          title: Cluster
          description: Cluster da loja
        country:
          anyOf:
          - type: string
          - type: 'null'
          title: Country
          description: País da loja
        state:
          anyOf:
          - type: string
          - type: 'null'
          title: State
          description: Estado (UF) da loja
        city:
          anyOf:
          - type: string
          - type: 'null'
          title: City
          description: Cidade da loja
        status:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Status
          description: Loja ativa
        store_vtex:
          anyOf:
          - type: string
          - type: 'null'
          title: Store Vtex
          description: Identificador da loja na plataforma VTEX
        cnpj:
          anyOf:
          - type: string
          - type: 'null'
          title: Cnpj
          description: Cnpj da loja
        identity:
          anyOf:
          - type: string
          - type: 'null'
          title: Identity
          description: 'Identidade da loja (Loja propria ou Franquia). Preencher: F para Franquia e P para Loja Própria'
        ecommerce_id:
          anyOf:
          - type: string
          - type: 'null'
          title: Ecommerce Id
          description: Identificador da loja na plataforma de e-commerce
        custom_field_01:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 01
          description: Campo adicional para segmentação
        custom_field_02:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 02
          description: Campo adicional para segmentação
        custom_field_03:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 03
          description: Campo adicional para segmentação
        custom_field_04:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 04
          description: Campo adicional para segmentação
        custom_field_05:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 05
          description: Campo adicional para segmentação
        custom_field_06:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 06
          description: Campo adicional para segmentação
        custom_field_07:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 07
          description: Campo adicional para segmentação
        custom_field_08:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 08
          description: Campo adicional para segmentação
        custom_field_09:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 09
          description: Campo adicional para segmentação
        custom_field_10:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 10
          description: Campo adicional para segmentação
      type: object
      required:
      - id
      - name
      title: Store
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    SuccessResponse:
      properties:
        success:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Success
        requestId:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Requestid
      type: object
      title: SuccessResponse
    StoreType:
      type: string
      enum:
      - E
      - L
      title: StoreType
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: "Você deverá enviar sua chave privada\nno cabeçalho HTTP `Authorization`, com o padrão `Bearer <token>`. Exemplo:\n\n```\nGET / HTTP/1.1\nHost: data-api.otocrm.com.br\nAuthorization: Bearer abcdef123456\n```\n    "
