openapi: 3.2.0
info:
  title: Oto Data Order Items API
  description: 'A Data API do Oto permite que você faça cargas de dados

    de forma segura e confiável, utilizando padrões REST e corpos das mensagens em

    formato JSON.


    Os registros são inseridos na modalidade _upsert_, isto é, caso um registro

    com a mesma chave primária exista na base de dados, ele será integralmente

    substituído pelo registro enviado. Caso contrário, um novo registro será

    criado na base de dados.


    # Limites


    Dois limites são aplicados em todos os endpoints desta API: requisições por

    minuto e quantidade máxima de registros por requisição.


    ## Limite de requisições


    Para garantir a estabilidade e segurança da plataforma, esta API aceita um

    número máximo de **200** requisições por minuto por IP de origem. As

    requisições que excederem este limite terão suas respostas atrasadas para que

    se mantenha o ritmo estipulado, até que eventualmente podem ser barradas com a

    resposta `HTTP/1.1 429 Too many requests`.


    ## Limite de registros por requisição


    São aceitos até **10.000** registros por requisição. Caso a propriedade `data`

    contenha um número superior de entradas, a requisição será recusada com a

    resposta `HTTP/1.1 413 Payload Too Large`.'
  version: 1.3.5
  x-logo:
    url: https://pmweblabs.s3.amazonaws.com/assets/oto-logo.png
    href: https://suporte.otocrm.com.br/
    altText: Oto. Quem conhece, vende.
servers:
- url: https://data-api.otocrm.com.br
  description: Production
- url: https://data-api-hmg.otocrm.com.br
  description: Test
- url: http://localhost:8000
  description: Test
tags:
- name: Order Items
paths:
  /v1/order_items:
    post:
      summary: Post Order Items
      description: 'Criar ou editar itens pedidos. Os registros são deduplicados pelas colunas

        `date`, `store`, `id` e `sku`.


        Observe que os itens deve ser enviados agregados por estas chaves, ou seja, se

        duas unidades do mesmo item (SKU) foram comprados no mesmo pedido/loja/data,

        deve-se enviar apenas um registro, com a quantidade especificada na coluna

        `quantity`.'
      operationId: post_order_items_v1_order_items_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderItemsPostRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - Order Items
components:
  schemas:
    OrderItemsPostRequest:
      properties:
        data:
          items:
            $ref: '#/components/schemas/OrderItem'
          type: array
          title: Data
      type: object
      required:
      - data
      title: OrderItemsPostRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    SuccessResponse:
      properties:
        success:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Success
        requestId:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Requestid
      type: object
      title: SuccessResponse
    OrderItem:
      properties:
        date:
          type: string
          format: date
          title: Date
          description: Data da compra (yyyy-mm-dd)
        id:
          type: string
          title: Id
          description: Código do pedido
        store:
          type: string
          title: Store
          description: Código da loja da compra. São caracteres inválidos - pipe, vírgula e ponto e vírgula
        seq:
          anyOf:
          - type: integer
            minimum: 0.0
          - type: 'null'
          title: Seq
          description: Código sequencial do item do pedido
        sku:
          type: string
          title: Sku
          description: Código da unidade de estocagem (SKU)
        seller_id:
          type: string
          title: Seller Id
          description: Código (matrícula) do vendedor do item
        quantity:
          anyOf:
          - type: integer
          - type: number
          title: Quantity
          description: Quantidade adquirida do produto (negativo = devolução), aceita também valores decimais
        list_price:
          anyOf:
          - type: number
          - type: 'null'
          title: List Price
          description: Preço cheio (sem desconto) do item
        price:
          type: number
          title: Price
          description: Preço pago pelo item
        order_item_canceled:
          anyOf:
          - type: integer
          - type: 'null'
          title: Order Item Canceled
          description: Identificador se o item do pedido foi cancelado. 1 para cancelado, 0 para válido
      type: object
      required:
      - date
      - id
      - store
      - sku
      - seller_id
      - quantity
      - price
      title: OrderItem
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: "Você deverá enviar sua chave privada\nno cabeçalho HTTP `Authorization`, com o padrão `Bearer <token>`. Exemplo:\n\n```\nGET / HTTP/1.1\nHost: data-api.otocrm.com.br\nAuthorization: Bearer abcdef123456\n```\n    "
