openapi: 3.2.0
info:
  title: Oto Data Tag Interactions API
  description: 'A Data API do Oto permite que você faça cargas de dados

    de forma segura e confiável, utilizando padrões REST e corpos das mensagens em

    formato JSON.'
  version: 1.3.5
  x-logo:
    url: https://pmweblabs.s3.amazonaws.com/assets/oto-logo.png
    href: https://suporte.otocrm.com.br/
    altText: Oto. Quem conhece, vende.
servers:
- url: https://data-api.otocrm.com.br
  description: Production
- url: https://data-api-hmg.otocrm.com.br
  description: Test
- url: http://localhost:8000
  description: Test
tags:
- name: Tag Interactions
paths:
  /v1/tag_interactions:
    post:
      summary: Post Tag Interaction
      description: Registra evento de interação com produto, categoria ou transação de compra.
      operationId: post_tag_interaction_v1_tag_interactions_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsInteractionsPostRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - Tag Interactions
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    TagsInteractionsPostRequest:
      properties:
        data:
          items:
            $ref: '#/components/schemas/TagsInteraction'
          type: array
          title: Data
      type: object
      required:
      - data
      title: TagsInteractionsPostRequest
    TagType:
      type: string
      enum:
      - N
      - D
      - C
      - K
      - P
      - T
      title: TagType
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    SuccessResponse:
      properties:
        success:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Success
        requestId:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Requestid
      type: object
      title: SuccessResponse
    TagsInteraction:
      properties:
        event_ts:
          type: string
          format: date-time
          title: Event Ts
          description: Data e hora do evento
        user_id:
          type: integer
          minimum: 1.0
          title: User Id
          description: Identificador único do usuário
        session_id:
          type: integer
          minimum: 1.0
          title: Session Id
          description: Identificador único da sessão
        type:
          $ref: '#/components/schemas/TagType'
          description: "Tipo de evento: N = Navegação de categoria;\n        D = Página de detalhe de produto; C = Produto adicionado ao\n        carrinho; K = Checkout; P = Produtos comprados;\n        T = Transação de compra"
        id:
          type: string
          title: Id
          description: "Agrupador do produto (detalhe, carrinho e\n        checkout), código do pedido (transação) ou categoria (navegação)"
        sku:
          anyOf:
          - type: string
          - type: 'null'
          title: Sku
          description: Código de unidade de estocagem do produto (SKU)
        price:
          anyOf:
          - type: number
          - type: 'null'
          title: Price
          description: Preço unitário do item ou valor total do pedido
          default: 0
      type: object
      required:
      - event_ts
      - user_id
      - session_id
      - type
      - id
      title: TagsInteraction
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: "Você deverá enviar sua chave privada\nno cabeçalho HTTP `Authorization`, com o padrão `Bearer <token>`. Exemplo:\n\n```\nGET / HTTP/1.1\nHost: data-api.otocrm.com.br\nAuthorization: Bearer abcdef123456\n```\n    "
