openapi: 3.2.0
info:
  title: Oto Data Sellers API
  description: 'A Data API do Oto permite que você faça cargas de dados

    de forma segura e confiável, utilizando padrões REST e corpos das mensagens em

    formato JSON.'
  version: 1.3.5
  x-logo:
    url: https://pmweblabs.s3.amazonaws.com/assets/oto-logo.png
    href: https://suporte.otocrm.com.br/
    altText: Oto. Quem conhece, vende.
servers:
- url: https://data-api.otocrm.com.br
  description: Production
- url: https://data-api-hmg.otocrm.com.br
  description: Test
- url: http://localhost:8000
  description: Test
tags:
- name: Sellers
paths:
  /v1/sellers:
    post:
      summary: Post Sellers
      description: Criar ou editar vendedores. Os registros são deduplicados pela coluna `id`.
      operationId: post_sellers_v1_sellers_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SellersPostRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - Sellers
components:
  schemas:
    SellersPostRequest:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Seller'
          type: array
          title: Data
      type: object
      required:
      - data
      title: SellersPostRequest
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    Seller:
      properties:
        id:
          type: string
          title: Id
          description: Código (matrícula) do vendedor de preferência
        name:
          type: string
          title: Name
          description: Nome completo do vendedor
        name_oto:
          anyOf:
          - type: string
          - type: 'null'
          title: Name Oto
          description: Nome do vendedor (visível no Oto)
        store:
          anyOf:
          - type: string
          - type: 'null'
          title: Store
          description: Código da loja do vendedor (chave estrangeira). São caracteres inválidos - pipe, vírgula e ponto e vírgula
        disabled:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Disabled
          description: Data que o vendedor foi desligado (yyyy-mm-dd)
      type: object
      required:
      - id
      - name
      title: Seller
    SuccessResponse:
      properties:
        success:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Success
        requestId:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Requestid
      type: object
      title: SuccessResponse
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: "Você deverá enviar sua chave privada\nno cabeçalho HTTP `Authorization`, com o padrão `Bearer <token>`. Exemplo:\n\n```\nGET / HTTP/1.1\nHost: data-api.otocrm.com.br\nAuthorization: Bearer abcdef123456\n```\n    "
