openapi: 3.2.0
info:
  title: Oto Data Auth API
  description: 'A Data API do Oto permite que você faça cargas de dados

    de forma segura e confiável, utilizando padrões REST e corpos das mensagens em

    formato JSON.'
  version: 1.3.5
  x-logo:
    url: https://pmweblabs.s3.amazonaws.com/assets/oto-logo.png
    href: https://suporte.otocrm.com.br/
    altText: Oto. Quem conhece, vende.
servers:
- url: https://data-api.otocrm.com.br
  description: Production
- url: https://data-api-hmg.otocrm.com.br
  description: Test
- url: http://localhost:8000
  description: Test
tags:
- name: Auth
paths:
  /auth/login:
    post:
      summary: Login
      description: 'Autentica um usuário e retorna um token JWT de acesso.


        Este endpoint valida o nome de usuário e a senha informados na collection

        `users` do MongoDB. Caso as credenciais sejam válidas e o usuário esteja ativo,

        um token JWT é gerado contendo informações do usuário e suas permissões, com

        tempo de expiração padrão de 60 minutos (3600 segundos).


        Registro de logs:

        - Registra um log de ERRO se o banco de dados não estiver inicializado.

        - Registra um log de AVISO (WARNING) se as credenciais forem inválidas ou o usuário estiver inativo.

        - Registra um log de INFO em caso de login bem-sucedido.

        - Registra um log de ERRO para exceções inesperadas.


        Argumentos:

        data (LoginRequest): Objeto contendo os campos `username` e `password`.


        Retorno:

        TokenResponse: Objeto contendo o `access_token` JWT e o tempo de expiração em segundos.


        Códigos de status:

        200: Autenticação realizada com sucesso.

        401: Credenciais inválidas.

        403: Conta de usuário inativa.

        500: Erro interno no servidor por exceção não esperada.


        Exemplo de requisição:

        Corpo da requisição:

        {

        "username": "joao_silva",

        "password": "senhaSegura123"

        }


        Exemplo de resposta (200):

        {

        "access_token": "",

        "expires_in": 3600

        }'
      operationId: login_auth_login_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      tags:
      - Auth
components:
  schemas:
    TokenResponse:
      properties:
        access_token:
          type: string
          title: Access Token
        expires_in:
          type: integer
          title: Expires In
      type: object
      required:
      - access_token
      - expires_in
      title: TokenResponse
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    LoginRequest:
      properties:
        username:
          type: string
          title: Username
        password:
          type: string
          title: Password
      type: object
      required:
      - username
      - password
      title: LoginRequest
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: "Você deverá enviar sua chave privada\nno cabeçalho HTTP `Authorization`, com o padrão `Bearer <token>`. Exemplo:\n\n```\nGET / HTTP/1.1\nHost: data-api.otocrm.com.br\nAuthorization: Bearer abcdef123456\n```\n    "
