openapi: 3.2.0
info:
  title: Oto Data Orders API
  description: 'A Data API do Oto permite que você faça cargas de dados

    de forma segura e confiável, utilizando padrões REST e corpos das mensagens em

    formato JSON.


    Os registros são inseridos na modalidade _upsert_, isto é, caso um registro

    com a mesma chave primária exista na base de dados, ele será integralmente

    substituído pelo registro enviado. Caso contrário, um novo registro será

    criado na base de dados.


    # Limites


    Dois limites são aplicados em todos os endpoints desta API: requisições por

    minuto e quantidade máxima de registros por requisição.


    ## Limite de requisições


    Para garantir a estabilidade e segurança da plataforma, esta API aceita um

    número máximo de **200** requisições por minuto por IP de origem. As

    requisições que excederem este limite terão suas respostas atrasadas para que

    se mantenha o ritmo estipulado, até que eventualmente podem ser barradas com a

    resposta `HTTP/1.1 429 Too many requests`.


    ## Limite de registros por requisição


    São aceitos até **10.000** registros por requisição. Caso a propriedade `data`

    contenha um número superior de entradas, a requisição será recusada com a

    resposta `HTTP/1.1 413 Payload Too Large`.'
  version: 1.3.5
  x-logo:
    url: https://pmweblabs.s3.amazonaws.com/assets/oto-logo.png
    href: https://suporte.otocrm.com.br/
    altText: Oto. Quem conhece, vende.
servers:
- url: https://data-api.otocrm.com.br
  description: Production
- url: https://data-api-hmg.otocrm.com.br
  description: Test
- url: http://localhost:8000
  description: Test
tags:
- name: Orders
paths:
  /v1/orders:
    post:
      summary: Post Orders
      description: 'Criar ou editar pedidos. Os registros são deduplicados pelas colunas

        `date`, `store` e `id`.'
      operationId: post_orders_v1_orders_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersPostRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - Orders
components:
  schemas:
    OrdersPostRequest:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Order'
          type: array
          title: Data
      type: object
      required:
      - data
      title: OrdersPostRequest
    Order:
      properties:
        customer_id:
          type: string
          title: Customer Id
          description: Identificador único do cliente
        date:
          type: string
          format: date
          title: Date
          description: Data da compra (yyyy-mm-dd)
        date_ts:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Date Ts
          description: Datatime da compra (yyyy-mm-dd HH:MM:SS)
        id:
          type: string
          title: Id
          description: Código do pedido
        store:
          type: string
          title: Store
          description: Código da loja da compra. São caracteres inválidos - pipe, vírgula e ponto e vírgula
        store_type:
          anyOf:
          - $ref: '#/components/schemas/StoreType'
          - type: 'null'
          description: 'Tipo de loja: E = E-commerce, L = Loja física'
        delivery_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Delivery Type
          description: Tipo de entrega / frete do pedido
        canceled:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Canceled
          description: Desconsidera o pedido se verdadeiro
        status:
          anyOf:
          - type: string
          - type: 'null'
          title: Status
          description: Descrição do status do pedido
        payment_method:
          anyOf:
          - type: string
          - type: 'null'
          title: Payment Method
          description: Meios de pagamento utilizados, separados por ;
        payment_type:
          anyOf:
          - $ref: '#/components/schemas/PaymentType'
          - type: 'null'
          description: 'Tipo de pagamento: V = A vista; P = A prazo'
        installments:
          anyOf:
          - type: integer
            minimum: 0.0
          - type: 'null'
          title: Installments
          description: Número de parcelas
        total:
          type: number
          title: Total
          description: Valor total da compra
        custom_field_01:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 01
          description: Campo adicional para segmentação
        custom_field_02:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 02
          description: Campo adicional para segmentação
        custom_field_03:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 03
          description: Campo adicional para segmentação
        custom_field_04:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 04
          description: Campo adicional para segmentação
        custom_field_05:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 05
          description: Campo adicional para segmentação
        custom_field_06:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 06
          description: Campo adicional para segmentação
        custom_field_07:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 07
          description: Campo adicional para segmentação
        custom_field_08:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 08
          description: Campo adicional para segmentação
        custom_field_09:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 09
          description: Campo adicional para segmentação
        custom_field_10:
          anyOf:
          - type: string
          - type: 'null'
          title: Custom Field 10
          description: Campo adicional para segmentação
      type: object
      required:
      - customer_id
      - date
      - id
      - store
      - total
      title: Order
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    PaymentType:
      type: string
      enum:
      - V
      - P
      title: PaymentType
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    SuccessResponse:
      properties:
        success:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Success
        requestId:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Requestid
      type: object
      title: SuccessResponse
    StoreType:
      type: string
      enum:
      - E
      - L
      title: StoreType
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: "Você deverá enviar sua chave privada\nno cabeçalho HTTP `Authorization`, com o padrão `Bearer <token>`. Exemplo:\n\n```\nGET / HTTP/1.1\nHost: data-api.otocrm.com.br\nAuthorization: Bearer abcdef123456\n```\n    "
