openapi: 3.2.0
info:
  title: Oto Data Tag Hits API
  description: 'A Data API do Oto permite que você faça cargas de dados

    de forma segura e confiável, utilizando padrões REST e corpos das mensagens em

    formato JSON.'
  version: 1.3.5
  x-logo:
    url: https://pmweblabs.s3.amazonaws.com/assets/oto-logo.png
    href: https://suporte.otocrm.com.br/
    altText: Oto. Quem conhece, vende.
servers:
- url: https://data-api.otocrm.com.br
  description: Production
- url: https://data-api-hmg.otocrm.com.br
  description: Test
- url: http://localhost:8000
  description: Test
tags:
- name: Tag Hits
paths:
  /v1/tag_hits:
    post:
      summary: Post Tag Hit
      description: Registra evento de navegação no site.
      operationId: post_tag_hit_v1_tag_hits_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TagsHitsPostRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
      security:
      - HTTPBearer: []
      tags:
      - Tag Hits
components:
  schemas:
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    TagsHitsPostRequest:
      properties:
        data:
          items:
            $ref: '#/components/schemas/TagsHit'
          type: array
          title: Data
      type: object
      required:
      - data
      title: TagsHitsPostRequest
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    SuccessResponse:
      properties:
        success:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Success
        requestId:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Requestid
      type: object
      title: SuccessResponse
    TagsHit:
      properties:
        event_ts:
          type: string
          format: date-time
          title: Event Ts
          description: Data e hora do evento
        user_id:
          type: integer
          minimum: 1.0
          title: User Id
          description: Identificador único do usuário
        session_id:
          type: integer
          minimum: 1.0
          title: Session Id
          description: Identificador único da sessão
        url:
          anyOf:
          - type: string
          - type: 'null'
          title: Url
          description: Endereço (URL) navegada
        referer:
          anyOf:
          - type: string
          - type: 'null'
          title: Referer
          description: Página de referência
        user_agent:
          anyOf:
          - type: string
          - type: 'null'
          title: User Agent
          description: User-Agent (browser) da requisição
        utm_source:
          anyOf:
          - type: string
          - type: 'null'
          title: Utm Source
          description: Origem de origem da requisição
        utm_medium:
          anyOf:
          - type: string
          - type: 'null'
          title: Utm Medium
          description: Mídia de origem da requisição
        utm_campaign:
          anyOf:
          - type: string
          - type: 'null'
          title: Utm Campaign
          description: Campanha de origem da requisição
      type: object
      required:
      - event_ts
      - user_id
      - session_id
      title: TagsHit
  securitySchemes:
    HTTPBearer:
      type: http
      scheme: bearer
      description: "Você deverá enviar sua chave privada\nno cabeçalho HTTP `Authorization`, com o padrão `Bearer <token>`. Exemplo:\n\n```\nGET / HTTP/1.1\nHost: data-api.otocrm.com.br\nAuthorization: Bearer abcdef123456\n```\n    "
